<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Factory Server</title>
    <!-- Applying CSS To Header -->
    <style>
        body {
          background-color: #d62828;
        }
        
        h1 {
          color: #003049;
          text-align: center;
        }
        h2{
            color: #e9c46a;
            text-align: center;
        }
        </style>
</head>
<body>
    <h1>Coffee Factory Server Running</h1>
    <h2>This Server will Handle Coffee Factory Projects APIs</h2>
</body>
</html>